<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 style="color: brown"><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Hostname: <%= hostname %></p>
    <p>Current working directory: <%= cwd %></p>
    <p><a href="minmax">minmax</a></p>
  </body>
</html>
