<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <table>
        <tr>
            <th>Variable</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Time (seconds)</td>
            <td><%= diff[0] %></td>
        </tr>
        <tr>
            <td>Time (nanoseconds)</td>
            <td><%= diff[1] %></td>
        </tr>
        <tr>
            <td>Mininimum</td>
            <td><%= min %></td>
        </tr>
        <tr>
            <td>Maximum</td>
            <td><%= max %></td>
        </tr>
        <tr>
            <td>PID</td>
            <td><%= pid %></td>
        </tr>
    </table>
  </body>
</html>
